body {
	padding-bottom: 300px;
	padding-top: 70px;
}

h2 {
	padding-top: 70px;
}

#uploadBeaconFile {
	display: none;
}

.invisibleFilePicker {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	filter: alpha(opacity =   0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	background-color: transparent;
	color: transparent;
}

.beaconPreviewImage {
	height: 200px;
	max-width: 400px;
	margin: 10px;
}

#map-canvas {
	width: 100%;
	height: 500px;
}
