<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SOHBeaconDashboard2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>UploadBeacon</display-name>
    <servlet-name>UploadBeacon</servlet-name>
    <servlet-class>com.soh.sohbeacon.servlet.UploadBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBeacon</servlet-name>
    <url-pattern>/UploadBeacon</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateNotification</display-name>
    <servlet-name>CreateNotification</servlet-name>
    <servlet-class>com.soh.sohbeacon.servlet.CreateNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNotification</servlet-name>
    <url-pattern>/CreateNotification</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>OfferForBeacon</display-name>
    <servlet-name>OfferForBeacon</servlet-name>
    <servlet-class>com.soh.sohbeacon.servlet.OfferForBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferForBeacon</servlet-name>
    <url-pattern>/OfferForBeacon</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateUserRegistrationAtLocation</display-name>
    <servlet-name>UpdateUserRegistrationAtLocation</servlet-name>
    <servlet-class>com.soh.sohbeacon.servlet.UpdateUserRegistrationAtLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserRegistrationAtLocation</servlet-name>
    <url-pattern>/UpdateUserRegistrationAtLocation</url-pattern>
  </servlet-mapping>
</web-app>